<!--レスポンシブ対応-->
<div class="message-index smart text-center">
  <% messages.each do |message| %>
  <%= safe_join(message.text.split("\n"),tag(:br)) %><br>
  <div class="text-center">
    <%= link_to "編集", edit_message_path(message.id), class: "btn btn-success btn-sm" %>
    <%= link_to "削除", message_path(message.id), method: :delete, class: "btn btn-danger btn-sm" %>
  </div>
  <% end %>
</div><br>

<!--PC対応-->
<table class="table pc">
  <% messages.each do |message| %>
  <tr>
    <td class="col-8"><%= safe_join(message.text.split("\n"),tag(:br)) %></td>
    <td><%= link_to "編集", edit_message_path(message.id), class: "btn btn-success btn-sm" %></td>
    <td><%= link_to "削除", message_path(message.id), method: :delete, class: "btn btn-danger btn-sm" %></td>
  </tr>
  <% end %>
</table>