<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <!--ユーザログイン-->
      <% if admin_signed_in? %>
      <a class="navbar-brand" href="/admin">
        <p>ことばのひろば</p>
      </a>
      <% else %>
      <a class="navbar-brand" href="/">
        <p>ことばのひろば</p>
      </a>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "すきなことば", favorites_user_path(current_user),class: 'nav-link text-dark' %>
          </li>
          <li class="nav-item">
            <%= link_to "マイページ", user_path(current_user),class: 'nav-link text-dark' %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class: 'nav-link text-dark' %>
          </li>
    　<% elsif admin_signed_in?%>
          <li class="nav-item">
            <%= link_to "ことばリスト", admin_messages_path %>
          </li>
          <li class="nav-item">
            <%= link_to "タグ", admin_tags_path %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
          </li>
      <% else %>
          <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path,class: 'nav-link text-dark' %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path,class: 'nav-link text-dark' %>
          </li>
      <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>